.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #16011e;
    }

.mainContent{
    flex-grow: 1;
    height: auto;
    
}    

.main {
    display: flex;
    height:88vh;
    justify-content: center;
    align-items: center;
    
    
}