.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #16011e;
    }

.mainContent{
    flex-grow: 1;
    height: auto;
    
}    

.main {
    display: flex;
    height:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.carouselG {
    display:flex;
    padding-top: 0px;
    width: 1000px;

    
}

.carouselP {
    display:flex;
    padding-bottom: 0px;
    
}