.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    }
    
    .main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #16011e;
    
    }

    .texto{
        width: 80%; 
        color: rgb(241, 241, 235);
        font-size: 20px;
        text-align: center;
        
    
    }

    .footer {
    flex-shrink: 0;
    height: 70px;
    
}